@charset "UTF-8";
body {
  text-align: center;
  background-color: #F5F5DC;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif; }

.omoi {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid;
  width: 45vw;
  min-height: 40vh;
  word-break: break-word; }

a {
  margin: 20px; }

@media screen and (max-width: 768px) {
  .omoi {
    font-size: 18px;
    margin: auto;
    width: 90vw;
    min-height: 60vh; } }
