<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="for_post_error.css" type="text/css">
  <meta name="viewport" content="width=device-width">
  <title>サーバーエラー</title>
</head>
<body>


<b>ようこそ、誤作動&#183;失敗&#183;エラーサイトへ。&#8712;&#40;&#183;&#969;&#183;&#41;&#8715;</b>
<p>
もうエラーサイトなんて来ることもないだろう&#8230;。<br>
と、つぶやきながらも何度ミスしてきたことか&#8230;。<br>
しまいにゃここの住人になってエラーを作る始末。<br>
他のやつらは決して俺みたいになんな。<br>
何か叫んだらとっとと自分の巣に帰れ。
</p>

<b class="miss">サーバー側の不具合が起きました。(500)</b>

</body>
</html>