<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="for_post_error.css" type="text/css">
  <title>伝える</title>
  <meta name="viewport" content="width=device-width">
  <meta name="keyword" content="ボトルメール,SNS,投稿,jugemutaroes">
  <meta name="description" content="子供のころ、「無人島からの手紙」にあこがれたことはありませんか。これは、そんな子供心を思い出させることのできる、夢のあるサイトです。世界中の、誰かに手紙を飛ばしましょう。">
  <meta property="og:title" content="ボトルメールSNS" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="子供のころ、「無人島からの手紙」にあこがれたことはありませんか。これは、そんな子供心を思い出させることのできる、夢のあるサイトです。世界中の、誰かに手紙を飛ばしましょう。" />
  <meta property="og:site_name" content="ボトルメールSNS" />
  <script async src="Npost.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127799870-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127799870-1');
  </script>
</head>
<body>

<b><%= ok_or_no %></b>

<p id='lengthhyoji'>0/1500文字</p>

<form action="/toko" method="post" name="textform">
  <textarea name="speak" onkeyup="lengthcount(value);"></textarea><br>
  <input type="submit" value="思いを伝える">
</form>

<a href="/"><p>誰かの思いを見る</p></a><br>

</body>
</html>