<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="for_hyoji.css" type="text/css">
  <title>見る</title>
  <meta name="viewport" content="width=device-width">
  <meta name="keyword" content="ボトルメール,SNS,投稿,jugemutaroes">
  <meta name="description" content="子供のころ、「無人島からの手紙」にあこがれたことはありませんか。これは、そんな子供心を思い出させることのできる、夢のあるサイトです。世界中の、誰かに手紙を飛ばしましょう。">
  <meta property="og:title" content="ボトルメールSNS" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="子供のころ、「無人島からの手紙」にあこがれたことはありませんか。これは、そんな子供心を思い出させることのできる、夢のあるサイトです。世界中の、誰かに手紙を飛ばしましょう。" />
  <meta property="og:site_name" content="ボトルメールSNS" />
</head>
<body>

<b>まだ誰も思いを伝えていないようです。</b>
<p>思いを伝えてみませんか&#63;</p>

<a href="/toko"><p>誰かに思いを伝える</p></a>

</body>
</html>