<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="for_post_error.css" type="text/css">
  <title>URLエラー</title>
  <meta name="viewport" content="width=device-width">
  <meta name=”ROBOTS” content=”NOINDEX,NOFOLLOW,NOARCHIVE”>
</head>
<body>

<b>やあ （´・ω・｀)</b>
<p>
ようこそ、バーボンハウスへ。<br>
このテキーラはサービスだから、まず飲んで落ち着いて欲しい。<br>
<br>
うん、「また」なんだ。済まない。<br>
仏の顔もって言うしね、謝って許してもらおうとも思っていない。<br>
<br>
でも、このサイトを見たとき、君は、きっと言葉では言い表せない<br>
「ときめき」みたいなものを感じてくれたと思う。<br>
殺伐とした世の中で、そういう気持ちを忘れないで欲しい<br>
そう思って、このサーバーを立てたんだ。<br>
<br>
じゃあ、注文を聞こうか。
</p>

<b class="miss">URLが間違っているか、その他の原因によりアクセスできない状態になっています。(404)</b>

</body>
</html>